.links {
  display: flex;
  flex-direction: column;
  flex-basis: 320px;
}

.link {
  height: 64px;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: opacity .3s ease;
}

.link:hover {
  opacity: .4;
  cursor: pointer;
}

.info {
  opacity: .4;
}

.active span {
  color: var(--text-primary-color)
}
