.types {
  max-height: 690px;
  overflow: auto;
}

.list {
  margin: auto;
  max-width: 568px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(272px, 1fr));
  gap: 32px 24px;
}

.types::-webkit-scrollbar-thumb {
  height: 492px;
}


