@import url("./vendor/normalize.css");

:root {
  --header-height: 88px;
  --delta: -10px;
}

#modals {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
}

div::-webkit-scrollbar, ul::-webkit-scrollbar {
  width: 8px;
}

div::-webkit-scrollbar-thumb, ul::-webkit-scrollbar-thumb {
  background-color: var(--text-inactive-color);
  height: 492px;
}

div::-webkit-scrollbar-track, ul::-webkit-scrollbar-track {
  background-color: var(--background-element);
}
